$image-png: "../imgs/png";


#container {
  position: relative;
  width: $width-12;
  max-width: 1350px;
  height: 100%;
  margin: 0 auto;
  padding: 1.48148148%; /* 20px/1350px*100 */
}

#wrapper {
  position: absolute;
  width: $width-9; /* 1350px*.75 = 1012.5px/1350px  = 75% */
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


/* form */
.form {
  text-align: center;
  height: auto;
  form {
    padding: 0.98765432%;
    width: 50%; /* 75percent width of wrapper 1012.5px */
    height: 50px;
    margin: 0 auto; /* i used text-align center not working using instead margin auto*/
    position: relative;
    overflow: hidden;

  }
}

/*
absolute centering
https://codepen.io/shshaw/full/gEiDt
*/
input[type="search"] {
    background-color: $white-smoke;
    width: 100%; /* 100percent width of form 759.375px */
    height: 40px;
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    position: absolute;
    outline: none;
    border-style: none;
    border-radius: 2px;
    margin: auto;
    text-indent: 20px;
    top: 0; left: 0; bottom: 0; right: 0;
    &:hover {
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}



input[type="submit"] {
  background-color: $white-smoke;
  width: 40px;
  height: 40px;
  position: absolute;
  outline: none;
  background: url(../imgs/search.png) center center no-repeat;
  background-size: 14px;
  margin: auto;
  border-style: none;
  top: 0;  bottom: 0; right: 0;
  border-radius: 2px;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
