//color
$white: #fff;
$black: #000;
$pink: #ffc0cb;
$gray: #808080;
$light-gray: #D3D3D3;
$greens-boro: #DCDCDC;
$strong-peach: #e76565;

//font-family
$baloo: 'Baloo Bhaijaan', cursive;

//columns
$width-12: 100%;
$width-9: 75%;
